<launch>

  <!-- defines name of the namespace of the drone -->
  <arg name="config_uav_names" default="" />

  <!-- will it run using GNU debugger? -->
  <arg name="DEBUG" default="false" />
  <arg unless="$(arg DEBUG)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg DEBUG)" name="launch_prefix_debug" value="debug_roslaunch"/>

  <!-- will it run as standalone nodelet or using a nodelet manager? -->
  <arg name="standalone" default="true" />
  <arg name="manager" default="command_sender_manager" />
  <arg name="n_threads" default="8" />
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg manager)"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <node pkg="nodelet" type="nodelet" name="command_sender" args="$(arg nodelet) command_sender/CommandSender $(arg nodelet_manager)" launch-prefix="$(arg launch_prefix_debug)" output="screen">
    <!-- ROS parameters config file -->

    <rosparam file="$(find flocking)/config/uav_names.yaml" />
    <rosparam file="$(find flocking)/config/commands.yaml" />

    <!-- Load a user param file -->
    <rosparam if="$(eval not arg('config_uav_names') == '')" file="$(arg config_uav_names)" />

  </node>

</launch>
